<!DOCTYPE html>
  {% include 'navbar.html' %}
<head>
  <title>File Upload</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container mt-3">
  <h2>Ports</h2>
  <p>Upload a file with extensions csv (or) json (or) xlsx:</p>
  <form action="/upload_file" method="POST" enctype="multipart/form-data">
    {% csrf_token%}
    <p>Upload:</p>
    <div class="custom-file mb-3">
      <input type="file" class="custom-file-input" id="customFile" name="doc" accept=".csv, .json, .xlsx">
      <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>
</div>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
</body>
</html>
